<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Processor")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("processors")
                .DataValueField("id")
                .DataTextField("model")
                .OptionLabelTemplate("Choose")
                .TemplateId("dropDownTempalteId")
                .ValueTemplateId("dropDownTempalteId")
                .DataSource(d => d.Read(r => r.Url("http://localhost:56090/api/Parts/GetProcessors"))))
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Motherborad")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("motherborads")
                .DataValueField("id")
                .DataTextField("model")
                .CascadeFrom("processors")
                .CascadeFromField("id")
                .OptionLabelTemplate("Choose")
                .TemplateId("dropDownTempalteId")
                .ValueTemplateId("dropDownTempalteId")
                .DataSource(d => d.Read(r => r.Action("GetMotherBoards", "Configurator").Data("filterData")).ServerFiltering(true)))
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("RAM")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("rams")
                .DataValueField("id")
                .DataTextField("model")
                .CascadeFrom("motherborads")
                .CascadeFromField("id")
                .OptionLabelTemplate("Choose")
                .TemplateId("ramTemplateId")
                .ValueTemplateId("ramTemplateId")
                .DataSource(d => d.Read(r => r.Action("GetRams", "Configurator").Data("filterData")).ServerFiltering(true)))
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Video card")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("videocards")
                .DataValueField("id")
                .DataTextField("graphicsProcessor")
                .Events(e => e.Cascade("cascadeCases"))
                .OptionLabelTemplate("Choose")
                .TemplateId("gpuTemplateId")
                .ValueTemplateId("gpuTemplateId")
                .DataSource(d => d.Read(r => r.Url("http://localhost:56090/api/Parts/GetVideCards"))))
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.Label("Disk Drive")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("drives")
                .DataValueField("id")
                .DataTextField("model")
                .OptionLabelTemplate("Choose")
                .TemplateId("dropDownTempalteId")
                .ValueTemplateId("dropDownTempalteId")
            .DataSource(d => d.Read(r => r.Url("http://localhost:56090/api/Parts/GetDrives"))))
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Case")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("cases")
                .DataValueField("id")
                .DataTextField("model")
                .OptionLabelTemplate("Choose")
                .TemplateId("dropDownTempalteId")
                .ValueTemplateId("dropDownTempalteId")
            .DataSource(d => d.Read(r => r.Action("GetCases", "Configurator"))))
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Power suply")
            @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { @class = "form-control" })
                .OptionLabel("Choose")
                .Name("powersuplies")
                .DataValueField("id")
                .DataTextField("model")
                .OptionLabelTemplate("Choose")
                .TemplateId("dropDownTempalteId")
                .ValueTemplateId("dropDownTempalteId")
            .DataSource(d => d.Read(r => r.Url("http://localhost:56090/api/Parts/GetPowerSuplies"))))
        </div>
    </div>
</div>


<script id="dropDownTempalteId" type="text/x-kendo-template">

    <span class="k-state-default" style="display:inline-block;" >
        <img style="width:30px; height:30px;" src="#: kendo.format('images/{0}', data.brand.logo)#"></img>
    </span>
    <span class="k-state-default" style="padding-left: 15px;">
         #: data.brand.name # #: data.model #   Price: #: kendo.toString(price, "c") #
    </span>
</script>

<script id="ramTemplateId" type="text/x-kendo-template">
    <span class="k-state-default" style="display:inline-block;" >
        <img style="width:30px; height:30px;" src="#: kendo.format('images/{0}', data.brand.logo)#"></img>
    </span>
    <span>
         #: data.brand.name # #: data.model # #: data.size # GB  Price: #: kendo.toString(price, "c") #
    </span>
</script>

<script id="gpuTemplateId" type="text/x-kendo-template">
    <span class="k-state-default" style="display:inline-block;" >
        <img style="width:30px; height:30px;" src="#: kendo.format('images/{0}', data.brand.logo)#"></img>
    </span>
    <span>
         #: data.brand.name # #: data.graphicsProcessor # #: data.videoRam # GB  Price: #: kendo.toString(price, "c") #
    </span>
</script>
